{% extends 'base.html' %}


{% block content %}
<div class="form-container">
    <form method="POST" action="{% url 'customer:customer_search' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Customer Name</label>
            <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" placeholder="Name">
            <label for="{{ form.mobile_no.id_for_label }}">Mobile Number</label>
            <input type="text" class="form-control" id="{{ form.mobile_no.id_for_label }}" name="{{ form.mobile_no.html_name }}" placeholder="Mobile">
            <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
            <input type="date" class="form-control" id="{{ form.date_of_birth.id_for_label }}" name="{{ form.date_of_birth.html_name }}" placeholder="date of birth">
            <!-- You can add additional HTML elements or custom styles here -->
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>
{% endblock content %}